<div id="footer">

    <div id="slack-container">
        <div id="slack-icon">
            <a href="https://climatemodeling.science.energy.gov/program-area/regional-global-model-analysis">
                <img src="./assets/images/RGB_White-Seal_White-Mark_SC_Horizontal.png">
            </a>
        </div>
        <div id="slack-icon">
            <a href="https://www.bgc-feedbacks.org/">
                <img src="./assets/images/RUBISCO_logo_transparent_white-drop-shadow_crop-420x274.png">
            </a>
        </div>
        <div>
            ILAMB development is primarily performed by the
            <a href="https://www.bgc-feedbacks.org/">RUBISCO</a> Science Focus Area and supported by the
            <a href="https://climatemodeling.science.energy.gov/program-area/regional-global-model-analysis">RGMA</a>
            Activity of the
            <a href="https://science.osti.gov/ber/Research/eessd">EESSD</a> division of the
            <a href="https://science.osti.gov/ber">BER</a> program in the DOE's Office of Science.
        </div>
    </div>