<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</head>

<body>
  <div class="main-container">
    {% include navigation.html %}
    <div class="body-text-container stuff">
      <div class="stuff-text">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </div>
</body>

</html>